@model RoadFlow.Web.Model.StatisticsSimpleViewModel
@{
    ViewBag.Title = "Index";
}
<form>
    <table style="padding:10px;">
        <tr>
            <td>总空置率：</td>
            <td>@(decimal.Round(Model.VacancyRate, 2))% <input type="button" class="mybutton" value="街道明细图" onclick="chart(1)" /></td>
            <td>商业空置率：</td>
            <td>@(decimal.Round(Model.BusinessVacancyRate, 2))% <input type="button" class="mybutton" value="街道明细图" onclick="chart(2)" /></td>
            <td>商务空置率：</td>
            <td>@(decimal.Round(Model.CommerceVacancyRate, 2))% <input type="button" class="mybutton" value="街道明细图" onclick="chart(3)" /></td>
            <td>落地率：</td>
            <td>@(decimal.Round(Model.FloorRate, 2))% <input type="button" class="mybutton" value="街道明细图" onclick="chart(4)" /></td>
            <td><input type="button" name="Export" onclick="ExportExcel()" value="&nbsp;&nbsp;导&nbsp;出&nbsp;&nbsp;" class="mybutton" /></td>
        </tr>
    </table>
</form>
    <table class="mygrid">
        <thead>
        <tr>
            <th>街道</th>
            <th>总空置率</th>
            <th>商业空置率</th>
            <th>商务空置率</th>
            <th>落地率</th>
        </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow dr in Model.List.Rows)
            {
                <tr>
                    <td>@dr["Name"]</td>
                    <td>@(dr["VacancyRate"])%</td>
                    <td>@(dr["BusinessVacancyRate"])%</td>
                    <td>@(dr["CommerceVacancyRate"])%</td>
                    <td>@(dr["FloorRate"])%</td>
                </tr>
            }
        </tbody>
    </table>
<br/>
<script>
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var dialog = top.mainDialog;
    var dataGrid;

    $(function () {
        var dataGrid = new RoadUI.Grid({ table: $(".mygrid") });
    });

    //数据导出
    function ExportExcel() {
        var f = document.forms[0];
        f.action = top.rootdir + "@Url.Action("SimpleExport")";
        f.submit();
        $("form").removeAttr("action");
    }

    //街道明细图
    function chart(type)
    {
        dialog.open({ id: "window_" + '@Guid.NewGuid()', title: "街道明细图", width: 800, height: 320, url: top.rootdir + "@Url.Action("SimpleStreetChart")?type="+type+"&appid="+appid, openerid: iframeid });
    }
</script>