@{
    ViewBag.Title = "详情";
}
@model BuildingDetailViewModel
<!-- content start -->
<div class="show_cnt w1200 m0a clearfix">
    <div class="rental_wrap fl">
        <div class="titbox clearfix">
            <h4 class="fl">楼宇详情</h4>
            <div class="fr mbx_nav">
                你的当前位置：
                <a href="index.html">首页 ></a>
                <a href="show.html">楼宇资讯 ></a>
                <a href="javascript:;" class="now">楼宇详情</a>
            </div>
        </div>
        <div class="show_info2 clearfix">
            <div class="txMovie fl">
                <ul class="focus_pic" id="focus_pic_list">
                    @{
                        var xgt = Model.Building.XGT;
                        string[] images = xgt.Split('|');
                        foreach (var item in images)
                        {
                            <li><img src="@(Show.Controllers.ControllersExtentstions.GetFullPath(item))" /></li>
                        }
                    }
                </ul>
                <div class="focus_nav">
                    <ul id="focus_smaillPic_list">
                        @foreach (var item in images)
                        {
                            <li><img src="@(Show.Controllers.ControllersExtentstions.GetFullPath(item))" /></li>
                        }
                    </ul>
                    <a href="javascript:;" title="上一个" class="navPrev"></a>
                    <a href="javascript:;" title="下一个" class="navNext"></a>
                </div>
            </div>
            <div class="text_info fr">
                <h3>@Model.Building.Name</h3>
                <div>
                    <span class="span0">地址：</span><span class="span1">@Model.Building.LYXXDZ</span>
                </div>
                <div>
                    <span class="span0">竣工日期：</span><span class="span2">@(((DateTime)Model.Building.JGSJ).ToString("yyyy-MM-dd"))</span>
                </div>
                <div>
                    <span class="span0">管理公司：</span><span class="span2">@Model.Building.LYGLYYF</span>
                </div>
                <div>
                    <span class="span0">联系电话：</span><span class="span2">@Model.Building.ChinaMerchantsTel</span>
                </div>
                <div>
                    <span class="span0">商业面积：</span><span class="span2">@Model.Building.SY_ZMJ</span>
                </div>
                <div>
                    <span class="span0">商业空置面积：</span><span class="span2">@Model.Building.SY_KZ_ZMJ㎡</span>
                </div>
                <div>
                    <span class="span0">商业租金：</span><span class="span2">@Model.Building.SYZJ.Title 元/㎡ · 月</span>
                </div>
                <div>
                    <span class="span0">商业销售均价：</span><span class="span2">@Model.Building.SY_XSJJ 元/㎡</span>
                </div>
                <div>
                    <span class="span0">商业物管费：</span><span class="span2">@Model.Building.SY_WGF 元/㎡ · 月</span>
                </div>
                <div>
                    <span class="span0">商务面积：</span><span class="span2">@Model.Building.SW_ZMJ</span>
                </div>
                <div>
                    <span class="span0">商务空置面积：</span><span class="span2">@Model.Building.SW_KZ_ZMJ㎡</span>
                </div>
                <div>
                    <span class="span0">商务租金：</span><span class="span2">@Model.Building.SWZJ.Title 元/㎡ · 月</span>
                </div>
                <div>
                    <span class="span0">商务销售均价：</span><span class="span2">@Model.Building.SW_XSJJ 元/㎡</span>
                </div>
                <div>
                    <span class="span0">商务物管费：</span><span class="span2">@Model.Building.SW_WGF 元/㎡ · 月</span>
                </div>
            </div>
            <div class="floor_introduction fl">
                <h3>楼宇简介</h3>
                <div class="intro_wrap">
                    @Html.Raw(Model.Building.Note)
                </div>
            </div>
        </div>
    </div>
    <div class="recommend fr">
        <ul class="recommend_list">
            @foreach (var item in Model.HotBuilding)
            {
                <li class="clearfix">
                    <a href="@Url.Action("Details", new { id=item.ID})">
                        <img src="@(Show.Controllers.ControllersExtentstions.GetFullPath(item.XGT))">
                        <h4>@item.Name</h4>
                        <div>
                            <span>租</span><span class="price">@item.SYZJ.Title</span>元/㎡ · 月
                        </div>
                        <p>@item.LYXXDZ</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<!-- content end -->
<script type="text/javascript">
    //大图和文字切换
    jQuery(".txMovie").slide({
        titCell: ".focus_nav li", mainCell: ".focus_pic", targetCell: ".focus_text li", autoPlay: true, delayTime: 1000, startFun: function (i) {
            //控制小图自动翻页
            if (i == 0) { jQuery(".txMovie .navPrev").click() } else if (i % 7 == 0) { jQuery(".txMovie .navNext").click() }
        }
    });
    //小图滚动
    jQuery(".txMovie").slide({ mainCell: ".focus_nav ul", prevCell: ".navPrev", nextCell: ".navNext", effect: "left", vis: 4, scroll: 1, delayTime: 0, autoPage: false, pnLoop: false });
</script>