@model System.Data.DataTable
@using RoadFlow.Data.Model
@using RoadFlow.Utility;

@{
    ViewBag.Title = "Index";
    string ssjd_TypeOptions = new RoadFlow.Platform.Buildings().GetTypeOptions();
    var KI = "ID";  //主键列标识
}
<style>
    .wait{cursor:wait;}
    td a:link {
	         color:blue;
            text-decoration:underline;
        }
</style>
<form method="post">
    @Html.AntiForgeryToken()
    @{
        var list = new RoadFlow.Platform.Dictionary().GetAll();
    }
    <div class="querybar">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td>
                    统计分类：
                    <select class="myselect"  id="tjtype" name="tjtype">
                        <option value=""></option>
                       <option value=""></option>
                       <option value=""></option>
                      </select>
                    <input type="hidden" id="query" name="query" value=""/><input type="hidden" id="expwher" name="expwher" value="@ViewBag.wher"/>
                    <input type="submit" name="Search" value="&nbsp;&nbsp;查&nbsp;询&nbsp;&nbsp;" class="mybutton" />
                    <input type="button" name="Search" value="更多条件" class="mybutton" onclick="More('楼宇综合查询')" />
                    <input type="button" name="Export" onclick="ExportExcel()" value="&nbsp;&nbsp;导&nbsp;出&nbsp;&nbsp;" class="mybutton" />
                    <span id="tp" style="color:red;white-space:nowrap;line-height:12px; display:none;width:100px;cursor:wait;">正在为您导出数据……</span>
                </td>
            </tr>
        </table>
    </div>
</form>
<table class="mygrid">
    <thead>
        <tr>
                <th id="SetDisplayItem" style="width:20px;"><img style="margin-top:5px;" src="~/Images/ico/new_set.png" onclick="ShowItem('楼宇综合查询')" /></th>
                
             @{
                 if(ViewBag.Display != null)
                 {
                    foreach (ColItem item in ViewBag.Display)
                    {
                        if (item.chk == true)
                        {
                            if (item.id == KI)
                            {
                                continue;
                            }
                            <th>@item.value</th>
                        }
                    }
                }
            }
            </tr>
    </thead>
    <tbody>
            @foreach (System.Data.DataRow dr in Model.Rows)
            {
                var col1 = true;
                <tr>
                    <td></td>
                    @{
                        if(ViewBag.Display != null)
                        {
                            foreach (ColItem item in ViewBag.Display)
                            {
                                if (item.chk == true)
                                {
                                    if (item.id == KI)
                                    {
                                        continue;
                                    }
                                    var vl="";
                                    //首先进行相关数据类型转换
                                    if (list.FindAll(x => x.Code == item.id).Count > 0)
                                    {
                                        string temp =Convert.ToString(dr[item.id]);
                                        var lt  = list.Find(x => Convert.ToString(x.ID) == temp);
                                        vl = lt == null ? "" : lt.Title;
                                    }
                                    else
                                    {
                                        vl = dr[item.id].ToString();
                                    }
                                    //首列绑定方法，其他列不绑定方法。
                                    if (col1 == true)
                                    {
                                        <td><a  href="javascript:void(0);" onclick="detail('@dr[KI]');">@vl</a></td>   //赋值
                                        col1 = false;  //设置为非首列
                                    }
                                    else
                                    {
                                        <td>@vl</td>   //非首列赋值
                                    }
                                }
                            }
                        }
                    }
                </tr>
            }
            @{
                System.Data.DataTable dt = (System.Data.DataTable)ViewBag.DataCount;
                if(dt != null && dt.Rows.Count>0)
                {
                    System.Data.DataRow sdr = dt.Rows[0];
                    <tr>
                        <td></td>
                        @{
                            if(ViewBag.Display != null)
                            {
                                foreach (ColItem item in ViewBag.Display)
                                {
                                    //设为显示字段
                                    if (item.chk == true)
                                    {
                                        //主键列必须，但是不显示，跳过
                                        if (item.id == KI)
                                        {
                                            continue;
                                        }
                                        //显示合计内容
                                        if (item.heji == true)
                                        {
                                            <td>@sdr[item.id]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                }
                            }
                        }
                    </tr>
                }
            }
        </tbody>
</table>
<div>@Html.Raw(ViewBag.Pager)</div>
<br />
<script type="text/javascript">
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var query = '@Html.Raw(ViewBag.Query)';
    var dataGrid;
    $(function () {
        var dataGrid = new RoadUI.Grid({ table: $(".mygrid") });
        $("#State").val("@ViewBag.State");
        $("#SSJD").val("@ViewBag.SSJD");
        //移除首列绑定的数据排序事件及图标
        $(".gridheadsort").get(0).remove();
        var $tds1 = $("thead tr th");
        $(".gridheadtitle", $tds1.eq(0)).unbind();
        dataGrid.oddColor();
        dataGrid.resetWidth();
    });

    function detail(id) {
        var url = "/Buildings/Detail?id=" + id;
        top.openApp(url, 0, "楼宇详细信息", 'tab_' + id, 0, 0,false);
        return false;
    }

    function ShowItem(id) {
        top.mainDialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "显示设置", top: 160, left: 225, width: 200, height: 300, url: top.rootdir + "/QueryDesign/Item?id=" + id + "&queryID=query" + '@Html.Raw(ViewBag.Query)', openerid: iframeid });
    }
    //数据导出
    function ExportExcel() {
        var name = $("#Name").val();
        var SSJD = $("#SSJD").val();
        var expwher = $("#expwher").val();
        location.href = top.rootdir + "/Buildings/Export?name=" + name + "&SSJD=" + SSJD + "&expwher=" + expwher;
    }

    function More(id) {
        top.mainDialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "更多条件", top: 128, left: 670, width: 380, height: 450, url: top.rootdir + "/QueryDesign/Search?id=" + id + "&queryID=query" + '@Html.Raw(ViewBag.Query)', openerid: iframeid });
    }
</script>

