@model System.Data.DataTable
@using RoadFlow.Data.Model
@using RoadFlow.Utility;

@{
    ViewBag.Title = "地税";
}<form method="post">
    @Html.AntiForgeryToken()
    <div class="querybar">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td>
                    <input type="text" name="Keyword" id="Keyword" placeholder="楼宇名称" style="width:180px;" value="@ViewBag.Keyword" />
                    <input type="submit" name="Search" value="&nbsp;&nbsp;查&nbsp;询&nbsp;&nbsp;" class="mybutton" />
                    文件：<input type="text" id="ImportFile" name="ImportFile" value="" filetype="*.xls;*.xlsx" style="white-space: normal; width: 200px;" class="myfile" title="">
                    @if (((string)ViewBag.Area).IsNullOrEmpty()) {
                        <span>税收月份：</span><input type="text" class="mycalendar" id="Area" name="Area" value="@DateTime.Now.ToString("yyyy/MM")" calendarformat="yyyy/MM" mindate="" />
                    } else {
                        <span>税收月份：</span><input type="text" class="mycalendar" id="Area" name="Area" value="@ViewBag.Area" calendarformat="yyyy/MM" />
                    }
                    <input type="button" id="Import" name="Import" onclick="importExcel()" value="&nbsp;&nbsp;导&nbsp;入&nbsp;&nbsp;" class="mybutton" />
                    <span id="importing" style="color:red;white-space:nowrap;line-height:12px; display:none;width:100px;cursor:wait;">正在为您导入数据……</span>
                    
                </td>
            </tr>
        </table>
    </div>
</form>
<table style="margin-left:5px;">
    <tr>
        <th>总数</th>
        <td>@ViewBag.All</td>
        <th>已匹配</th>
        <td>@ViewBag.Matching</td>
        <th>未匹配(红色)</th>
        <td style="color:red">@ViewBag.NotMatching</td>
    </tr>
</table>
<table class="mygrid">
    <thead>
        <tr>
            @foreach (var item in (Dictionary<string, string>)ViewBag.DisplayName) {
                <th>@item.Value</th>
            }
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
            @foreach (System.Data.DataRow dr in Model.Rows){
                <tr>
                    @foreach (var item in (Dictionary<string, string>)ViewBag.DisplayName) {
                        if (item.Key == "EnterpriseName") {//企业名称
                            if (dr["EnterpriseID"] is DBNull) {
                                <td style=" color:red;">@dr["EnterpriseName"]</td>
                            } else {
                                @*<td><a href="@Url.Action("Details", "EnterpriseImport", new { id = dr["EnterpriseID"], appid = Request["appid"] })">@dr["EnterpriseName"]</a></td>*@
                                <td>@dr["EnterpriseName"]</td>
                            }
                        } else {
                            <td>@dr[item.Key]</td>
                        }
                    }
                    <td><a href="@Url.Action("LandTaxEdit", "EnterpriseImport", new { id = dr["ID"], appid = Request["appid"] })">编辑</a></td>
                </tr>
            }           
        </tbody>
</table>
@Html.Raw(ViewBag.Pager)
<br />
<script>
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    $(function () {
        var dataGrid = new RoadUI.Grid({ table: $(".mygrid") });
    });
    //导入企业数据
    function importExcel() {
        var path = $("#ImportFile").val();
        if (path) {
            var area = $("#Area").val();
            if (!area) {
                alert("请选择税收月份");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/EnterpriseImport/Import/",
                data: { path: path, type: "landTax", area: area },//type: "landTax"(地税导入)
                dataType: "json",
                beforeSend: function () {
                    $("#Import").hide();
                    $("#importing").show();
                },
                success: function (data) {
                    if (data.success) {
                        alert("导入成功,已导入"+data.allCount+"条数据。");
                    } else {
                        alert("导入失败！");
                    }
                    window.location.href = window.location.href;
                }
            });
        } else {
            alert("请选取文件！");
        }
    }
</script>

